[Unit]
Description=Lea Central Wash Server

[Service]
ExecStart={DIR}/storage
WorkingDirectory={DIR}
StandardOutput=inherit
StandardInput=inherit
Restart=always
User={USER}

[Install]
WantedBy=multi-user.target

