# Binaries for programs and plugins
/.idea
*.exe
*.exe~
*.dll
*.so
*.dylib
cmd/hal/main
cmd/storage/storage
/storage

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendor
vendor/

# quazarGUI
quazarGUI/backup/
quazarGUI/lib/

# lazarusGUI
lazarusGUI/backup/
lazarusGUI/lib/

# vscode
.vscode

# certificates
certificates/