[Unit]
Description=Lea Central Wash Server

[Service]
ExecStart={DIR}/storage.exe
WorkingDirectory={DIR}
StandardOutput=inherit
StandardInput=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

